*{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#backgr
{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg,#6862e6 ,#8065e8,#ab68eb);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.whitebord{
    position: absolute;
    width: 60%;
    height: 70%;
    border-radius: 25px;
    top: 15%;
    left: 20%;
    overflow: hidden;
}
.shadow 
{
    background: #FFFAFA; 
    box-shadow: 1px 1px 50px 5px #696969;
}

.img1
{
    position: absolute;
    bottom: -10px;
    right: 550px;
    width: 700px;
    height: 700px;
    z-index: 1; 
}
.img2
{
    position: absolute;
    z-index: 2;
    bottom: 100px;
    left: -100px;
}
.img3
{
 position: absolute;
    z-index: 3;
    bottom: 230px;
    left: 200px;
}   
.infor
{    
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: left;
    position: relative;
    top: 10%;
    left: 50%;
    z-index: 2;
    box-sizing: border-box;
}
hr
{
    width: 100%;
    border-top: 0.1px solid #000;
}
summary 
{
    margin-bottom: 13px;
   display:inline-block;
   cursor: pointer;
   font-size: 15px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
summary:before 
{
    color: orange;
    position: absolute;
  right: .3em;
  background: url("images/icon-arrow-down.svg") no-repeat 50% 50% / 1em 1em;
  width: 1em;
  height: 1em;  
  content: "";
  transition: transform .5s;
}
  details[open] > summary:before 
{
    transform: rotateZ(180deg);
}
    
    details[open] summary ~ *
{ 
    
    margin-bottom: 12px;
    animation: sweep .5s ease-in-out;
}

  summary:hover
{
    color: orange;
}
p
{
    font-size: 12px;
}

/* details:checked + summary {
    font-weight: ;
    border-bottom: 0;
} */
details[open] >  summary{
    font-weight: bold;
    }

    p {display: none}
  p.active {display: block}

@media only screen and (max-width: 400px) {
  .whitebord {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    position: absolute;
    left: 10%;
    overflow:visible;
  }
.infor {
      text-align: center;
    /* margin-top: 40%;
    margin-bottom: 15%;
    width: 87%; */
    position: relative;
    top: 100px;
    left: 0;
}
summary{
    font-size: 13px;
}
hr{

    width: 100%;

}
p{
font-size: 12px;
}
img{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 90px;
}
.img2{
    width: 210px;
    height: 210px;
    position: absolute;
    top: -110px;
    left: 50px;
    z-index: 12px;
}
.img3{
    position: absolute;
    left: 80px;
}
}